@font-face {
  font-family: NEXON-Lv2-Gothic-Bold;
  src: url("../../public/fonts/35/NEXON-Lv2-Gothic-Bold.ttf");
}
@font-face {
  font-family: NEXON-Lv2-Gothic-Medium;
  src: url("../../public/fonts/35/NEXON-Lv2-Gothic-Medium.ttf");
}
@font-face {
  font-family: NEXON-Lv2-Gothic;
  src: url("../../public/fonts/35/NEXON-Lv2-Gothic.ttf");
}
@keyframes scrolldown {
  0% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
  50% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }
  100% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
}
.container {
  width: 100%;
}
.main_container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.header_container {
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.header_wrapper {
  width: 100%;
  max-width: calc(100% - 300px);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo_wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  cursor: pointer;
}
.logo_image {
  filter: invert(100%) sepia(5%) saturate(7500%) hue-rotate(270deg)
    brightness(123%) contrast(119%);
}
.ol_wrapper {
  display: flex;
  flex-direction: row;
}
.ol_wrapper li {
  color: white;
  font-family: "NEXON-Lv2-Gothic-Medium";
  font-size: 20px;
  margin-left: 25px;
  padding: 20px;
  cursor: pointer;
}
.main_image_wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main_text_wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.main_text {
  position: absolute;
  font-family: "NEXON-Lv2-Gothic-Bold";
  color: white;
  /* font-size: 80px; */
  font-size: 80px;
  margin-left: 150px;
}
.main_banner_image {
  object-fit: cover;
  z-index: 1;
}
.scroll_down_icon_top {
  width: 2em;
  height: 2em;
  background-color: transparent;
  z-index: 80;
  bottom: 25px;
  position: absolute;
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: antiquewhite;
  animation: scrolldown 1.2s ease-in-out infinite 0.15s;
  left: 50%;
  transform: translateY(0%) rotate(45deg);
  opacity: 0;
}
.scroll_down_icon_bottom {
  width: 2em;
  height: 2em;
  background-color: transparent;
  z-index: 80;
  bottom: 40px;
  position: absolute;
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: antiquewhite;
  animation: scrolldown 1.2s ease-in-out infinite;
  left: 50%;
  transform: translateY(0%) rotate(45deg);
  opacity: 0;
}
.status_container {
  width: 100%;
  background: #262733;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 110px 0 60px 0;
}
.status_wrapper {
  width: 100%;
  max-width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.status_title_wrapper {
  display: flex;
  flex-direction: row;
}
.status_title {
  color: white;
  font-family: "NEXON-Lv2-Gothic-Bold";
  font-size: 50px;
}
.items_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
}
.item_wrapper {
  width: calc(25% - 10px);
  aspect-ratio: 3 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item_image_wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 240px);
}
.item_image_wrapper_mouse {
  position: relative;
  width: 37%;
  height: calc(100% - 240px);
}
.item_image {
  object-fit: contain;
}
.item_text_wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item_title {
  font-family: "NEXON-Lv2-Gothic-Medium";
  color: white;
  /* font-size: 24px; */
  font-size: 28px;
}
.item_description {
  color: #5e5d79;
  /* font-size: 20px; */
  font-size: 20px;
  margin-top: 17px;
}
.item_description_bottom {
  color: #5e5d79;
  font-size: 20px;
  margin-top: 2px;
}
.plan_container {
  width: 100%;
  background: #262733;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 85px 0 0px 0;
  border-top: 1px solid #494858;
}
.plan_wrapper {
  width: 100%;
  max-width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.plan_title_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.plan_title {
  color: white;
  font-family: "NEXON-Lv2-Gothic-Bold";
  font-size: 50px;
  letter-spacing: 5px;
}
.plan_items_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.plan_item_wrapper {
  width: calc(25% - 10px);
  aspect-ratio: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plan_item_wrapper h3 {
  color: #686efe;
  font-family: "NEXON-Lv2-Gothic-Bold";
  /* font-size: 50px; */
  font-size: 50px;
}
.plan_item_wrapper p {
  color: #5e5d79;
  /* font-size: 20px; */
  font-size: 23px;
  margin-top: 70px;
  font-family: "NEXON-Lv2-Gothic-Medium";
  text-align: center;
}
.main_banner_image {
  filter: brightness(70%);
}
.gallery_container {
  width: 100%;
  background: #262733;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0 100px 0;
  border-top: 1px solid #494858;
}
.gallery_wrapper {
  width: 100%;
  max-width: calc(100% - 300px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.stick {
  width: 8px;
  height: 55px;
  margin-right: 16px;
  background: white;
}
.gallery_title {
  color: white;
  font-family: "NEXON-Lv2-Gothic-Bold";
  margin-bottom: 80px;
  font-size: 50px;
  letter-spacing: 5px;
}
.gallery_carousel_container {
  position: relative;
  width: 100%;
  /* height: 400px; */
}
.gallery_image_wrapper {
  position: relative;
  /* height: 360px; */
  aspect-ratio: 5 / 4;
}
.gallery_image {
  object-fit: cover;
  padding: 0 20px;
}
.footer_container {
  width: 100%;
  height: 200px;
  background: #262733;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #383846;
}
.footer_wrapper {
  width: 1100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}
.footer_wrapper {
  color: #a2a7ab;
  font-size: 16px;
}
.footer_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 10px;
}
.footer_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}
.footer_left p {
  margin: 5px 0;
}
.footer_right p {
  margin: 15px 0;
}
.icons {
  width: 25px;
  height: 25px;
  margin-left: 12px;
  cursor: pointer;
}
