@font-face {
  font-family: "navFont";
  src: url("../../../public/fonts/2/NotoSansKR-Bold.ttf");
}

.header_container {
  position: fixed;
  z-index: 10;
  background-color: #2c251e;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}
.header_wrapper {
  width: 100%;
  max-width: 1150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo_wrapper {
  position: relative;
  width: 60px;
  height: 60px;
}
.nav_ol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav_ol li {
  font-family: "navFont";
  color: white;
  font-size: 22px;
  padding: 20px;
  margin-left: 50px;
  cursor: pointer;
  opacity: none;
}
